In [2]:
import pandas as pd
df = pd.read_csv('/content/spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [4]:
from sklearn.preprocessing import LabelEncoder
ln = LabelEncoder()

In [6]:
df.Category = ln.fit_transform(df.Category)

In [7]:
df.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_count = v.fit_transform(df.Message)
x_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [37]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [39]:
model.fit(x_count,df.Category)

MultinomialNB()

In [40]:
model.predict(x_count[:3])

array([0, 0, 1])

In [41]:
model.score(x_count,df.Category)

0.9935391241923905

In [42]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.Category,test_size=0.25)

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [45]:
model.fit(x_train_count,y_train)

MultinomialNB()

In [65]:
x_test_count = v.fit_transform(x_test)
x_test_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [60]:
from sklearn.pipeline import Pipeline

In [66]:
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [67]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [68]:
clf.score(x_test,y_test)

0.9849246231155779

In [69]:
emails = [
          'Hey Mohan, can we get together to watch football match tomorrow?',
          'Upto 20% dicount on parking, exclusive offer just for you. Dont miss this reward!'
         ]
clf.predict(emails)

array([0, 1])